body {
	background-color: #98ff98;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}

#container {
	max-width: 600px;
	margin: 0 auto;
}

h1 {
	color: #D8BFD8;
}

span {
	color: black;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
}

.selected {
	background: #98ff98;
}