body {
	background-color: #98ff98;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}

#container {
	max-width: 600px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	color: #D8BFD8;
	background: steelblue;
	margin: 0;
	font-weight: normal
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}

span {
	color: black;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
}

.selected {
	background: #98ff98;
}

#colorDisplay {
	font-size: 200%;
}